<div class="container">
  <form autocomplete="off" action="">
    <div class="p-grid">
      <div class="p-col-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="p-col-12">
        <p-selectButton [options] = "tipos" #tipo></p-selectButton>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label for="">Venimento</label>
        <p-calendar dateFormat="dd/mm/yy" name="vencimento"
        ngModel #vencimento="ngModel" required
          [inline]="false" [readonlyInput]="false" [showIcon]="false">
        </p-calendar>

        <app-message [control]="vencimento" error="required"
            text="Informe uma data de vencimento"></app-message>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
        <p-calendar dateFormat="dd/mm/yy">
        </p-calendar>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label for="">Descrição {{descricao.errors | json}}</label>
        <input pInputText type="text" name="descricao"
          ngModel #descricao="ngModel" required minlength="5">

          <app-message [control]="descricao" error="required"
            text="Informe uma descrição"></app-message>
          <app-message [control]="descricao" error="minlength"
            text="Mínimo de {{descricao.errors?.minlength?.requiredLength}}
            caracteres."></app-message>
      </div>

      <div class="p-col-12 p-md-3 p-fluid">
        <label for="">Valor</label>
        <input pInputText type="text" placeholder="0,00" name="valor" currencyMask
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',',allowNegative:false}"
          ngModel name="valor" #valor="ngModel" required/>

          <app-message [control]="valor" error="required"
          text="Informe o valor"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label for="">Categoria</label>
        <p-dropdown [options]="categorias" placeholder = "Selecione"
          ngModel name="categoria" #categoria="ngModel" required></p-dropdown>

        <app-message [control]="categoria" error="required"
          text="Selecione uma categoria"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label for="">Pessoa</label>
        <p-dropdown [options]="pessoas" placeholder = "Selecione" [filter]="true"
          ngModel name="pessoa" #pessoa="ngModel" required></p-dropdown>

          <app-message [control]="pessoa" error="required"
          text="Selecione uma pessoa"></app-message>
      </div>

      <div class="p-col-12 p-fluid">
        <label for="">Observação</label>
        <textarea pInputTextarea rows="3"></textarea>
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="submit" label="Novo" class="p-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
